if theme.utterances.enable
    #utter() 
    script.
        (function() {
            var utterScript = document.createElement('script');
            utterScript.async = true;
            utterScript.src = 'https://utteranc.es/client.js';
            utterScript.type = 'text/javascript';
            utterScript.setAttribute('repo', '#{theme.utterances.repo}');
            utterScript.setAttribute ('issue-term', 'pathname');
            utterScript.setAttribute('label', '#{theme.utterances.label}');
            utterScript.setAttribute('theme', 'github-light');
            utterScript.setAttribute('crossorigin', 'anonymous');
            document.getElementById('utter').appendChild(utterScript);
        })();