.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'), style="width:127px;")
      h3
        a(href="/")= config.title
      if config.description
        .description
          p= config.description

  ul.social-links
    if theme.contact.facebook
      li
        a(href= theme.contact.facebook)
          i.fa.fa-facebook
    if theme.contact.twitter
      li
        a(href= theme.contact.twitter)
          i.fa.fa-twitter
    if theme.contact.instagram
      li
        a(href= theme.contact.instagram)
          i.fa.fa-instagram
    if theme.contact.github
      li
        a(href= theme.contact.github)
          i.fa.fa-github
    if theme.contact.linkedin
      li
        a(href= theme.contact.linkedin)
          i.fa.fa-linkedin
    if theme.contact.mail
      li
        a(href= theme.contact.mail)
          i.fa.fa-envelope
  include footer
