extends partial/layout
block content
	.autopagerize_page_element: .content
		- page.posts.each(function (item) {
			include mixins
			- var awl = theme.meta.wordcount.awl
			- var wpm = theme.meta.wordcount.wpm
			+make_post(item, false, theme.meta.wordcount.enable, awl, wpm)
		- })
		include mixins
		+make_pager(__('common.prev'), __('common.next'))
